body {
  margin: 0;
  padding: 0;
}

@keyframes move-background {
  from {
    left: -1000px
  }

  to {
    left: 1000px;
  }
}

.twinkle {
  animation: move-background 100s linear infinite;
  background: url(/img/twinkling.png) repeat;
}

.star-container {
  background: black url(/img/stars.png) repeat;
}

.twinkle, .star-container {
  height: 15000px;
  position: absolute; 
  width: 15000px;
}